{{template "base/header" .}}

<div class="row">
	<div class="col-sm-12">
		<ul class="breadcrumb">
			<li><a href="/">Home</a></li>
			<li>Catalogs</li>
		</ul>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<h2>Catalogs<a href="{{AppSubURL}}/catalogs/create" class="btn btn-primary pull-right">Create New</a></h2>
	</div>
</div>

{{template "base/alert" .}}

<div class="row">
	{{ $n := len .Catalogs }}
	{{if eq $n 0}}
	<div class="col-sm-12">
		<p class="text-center">There are no catalogs yet</p>
	</div>
	{{else}}
	<div class="col-sm-12">
		<table class="table">
			<thead>
				<th>Name</th>
				<th>Version</th>
				<th>Added</th>
				<th></th>
			</thead>
			<tbody>
				{{range $catalog := .Catalogs}}
					<tr>
						<td><a href="{{AppSubURL}}/catalogs/{{$catalog.ID}}">{{$catalog.Name}}</a></td>
						<td>{{$catalog.Version}}</td>
						<td>{{DateFmtShort $catalog.AddedDate}}</td>
						<td>
							{{if $catalog.Enabled}}
								<form method="post" action="/catalogs/{{$catalog.ID}}/disable">
									<button type="submit" class="btn btn-danger btn-sm pull-right">Disable</button>
								</form>
							{{else}}
								<form method="post" action="/catalogs/{{$catalog.ID}}/enable">
									<button type="submit" class="btn btn-success btn-sm pull-right">Enable</button>
								</form>
							{{end}}
						</td>
					</tr>
				{{end}}
			</tbody>
		</table>
	</div>
	{{end}}
</div>

{{template "base/footer" .}}