{{template "base/header" .}}

<h1>Catalogs</h1>

<table class="table">
	<thead>
		<th>Name</th>
		<th>Version</th>
		<th>Added</th>
		<th></th>
	</thead>
	<tbody>
		{{range $catalog := .Catalogs}}
			<tr>
				<td>{{$catalog.Name}}</td>
				<td>{{$catalog.Version}}</td>
				<td>{{DateFmtShort $catalog.Added}}</td>
				<td>
					{{if $catalog.Enabled}}
						<form method="post" action="/catalogs/disable">
							<input type="hidden" name="ID" value="{{. $catalog.ID}}">
							<button type="submit" class="btn btn-danger btn-sm">Disable</button>
						</form>
					{{else}}
						<form method="post" action="/catalogs/disable">
							<input type="hidden" name="ID" value="{{. $catalog.ID}}">
							<button type="submit" class="btn btn-success btn-sm">Enable</button>
						</form>
					{{end}}
				</td>
			</tr>
		{{end}}
	</tbody>
</table>

{{template "base/footer" .}}